@keyframes fadeIn {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 1;
    }
}

@keyframes linkTranslate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}
