.header {
    display: flex;
    align-items: center;
    margin-top: 3.2vw;
    margin-right: 6.4vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;

    &__logo {
        display: none;

        img {
            width: 22.5vw;
            height: auto;
            min-width: 103px;
        }
    }

    &__lines {
        display: none;

        span {
            display: block;
            width: 9vw;
            min-width: 41px;
            height: 2px;
            background-color: $main_color;

            &:not(:last-of-type) {
                margin-bottom: 7px;
            }
        }
    }

    &__phone {
        @include fluid-text($tablet_wide, $desktop, 25px, 30px, 25px, 30px);
        margin-right: 3.125vw;
    }

    .socials_list {
        display: flex;
        align-items: center;

        &__item {
            width: 45px;
            height: 45px;
        }

        &__item:not(:last-of-type) {
            margin-right: 15px;
        }

        &__item svg {
            width: 100%;
            height: 100%;
        }
    }

    @include max-width($tablet_wide) {
        margin-top: 4.2vw;

        &__phone {
            @include fluid-text($phone_small, $tablet, 15px, 25px, 15px, 25px);
        }

        .socials_list {

            &__item {
                width: 38px;
                height: 38px;
            }
        }
    }

    @include max-width($tablet) {
        // position: static;
        width: 100%;
        margin: 0;
        justify-content: space-between;
        padding: 6.5vw 6.5vw 0;

        &__logo,
        &__lines {
            display: block;
        }

        &__phone {
            margin-right: 0;
        }

        .socials_list {
            display: none;
        }
    }

    @include max-width($phone_tiny) {
        padding: 5vw 2.5vw 0;
    }
}
