.wrapper {
    position: relative;
    width: 100%;
    max-width: 1660px;
    margin: 0 auto;

    @include max-width(2000px) {
        max-width: none;
        margin-right: 0;
        padding-left: 13.5vw;
    }

    @include max-width($tablet_wide) {
        padding-left: 17.5vw;
        padding-right: 7vw;
    }

    @include max-width($tablet) {
        padding-left: 6.5vw;
        padding-right: 6.5vw;
    }

    &--large {

        @include max-width($tablet) {
            padding-left: 17.5vw;
            padding-right: 17.5vw;
        }

        @include max-width($phone) {
            padding-left: 6.5vw;
            padding-right: 6.5vw;
        }
    }

    &--intro {
        max-width: none;
        margin-right: 0;
        padding-left: 13.5vw;

        @include max-width($tablet_wide) {
            padding-left: 17.5vw;
            padding-right: 0;
        }

        @include max-width($tablet) {
            padding: 0;
        }
    }
}

.flex_container {
    display: flex;
    
    &--centered {
        align-items: center;
    }

    &--picture_left {
        flex-direction: row-reverse;
    }

    @include max-width($tablet_wide) {
        flex-direction: column;
        
        &--centered {
            align-items: flex-start;
        }
    }
}

