h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

strong {
    font-weight: 600;
}

.h1 {
    @include fluid-text($tablet_wide, $desktop, $h1_font_size--phone, $h1_font_size--desktop, $h1_line_height--phone, $h1_line_height--desktop);
    font-weight: 300;

    @include max-width($tablet_wide) {
        @include fluid-text($tablet, $tablet_wide, $h1_font_size--tablet, $h1_font_size--tablet_wide, $h1_line_height--tablet, $h1_line_height--tablet_wide);
    }

    @include max-width($tablet) {
        @include fluid-text($phone, $tablet, $h1_font_size--phone, $h1_font_size--tablet, $h1_line_height--phone, $h1_line_height--tablet);
    }

    &--uppercase {
        text-transform: uppercase;
    }
}

.h2 {
    @include fluid-text($tablet_wide, $desktop, $h2_font_size--phone, $h2_font_size--desktop, $h2_line_height--phone, $h2_line_height--desktop);
    font-weight: 300;

    @include max-width($tablet_wide) {
        @include fluid-text($tablet, $tablet_wide, $h2_font_size--tablet, $h2_font_size--tablet_wide, $h2_line_height--tablet, $h2_line_height--tablet_wide);
    }

    @include max-width($tablet) {
        @include fluid-text($phone, $tablet, $h2_font_size--phone, $h2_font_size--tablet, $h2_line_height--phone, $h2_line_height--tablet);
    }

    &--uppercase {
        text-transform: uppercase;
    }
}

.h3 {
    @include fluid-text($tablet_wide, $desktop, $h3_font_size--tablet, $h3_font_size--desktop, $h3_line_height--tablet, $h3_line_height--desktop);
    font-weight: 500;

    @include max-width($tablet_wide) {
        @include fluid-text($tablet, $tablet_wide, $h3_font_size--tablet, $h3_font_size--tablet_wide, $h3_line_height--tablet, $h3_line_height--tablet_wide);
    }

    @include max-width($tablet) {
        @include fluid-text($phone, $tablet, $h3_font_size--phone, $h3_font_size--tablet, $h3_line_height--phone, $h3_line_height--tablet);
    }
    -weight: 500;

    &--uppercase {
        text-transform: uppercase;
    }
}

.subheading {
    @include fluid-text($min_device_width, $max_device_width, 15px, 18px, 24px, 28px);
    font-weight: 600;
    color: rgba($main_color, 0.9);
    text-transform: uppercase;

    &--underlined {
        text-decoration: underline;
    }
}

.emphasis_text {
    @include fluid-text($tablet_wide, $desktop, 25px, 40px, 37px, 52px);
    font-size: 40px;
    line-height: 52px;
    font-weight: 100;

    @include max-width($tablet_wide) {
        @include fluid-text($tablet, $tablet_wide, 32px, 40px, 42px, 52px);
    }

    @include max-width($tablet) {
        @include fluid-text($phone, $tablet_wide, 22px, 32px, 32px, 42px);
    }

    &--uppercase {
        text-transform: uppercase;
    }
}
