$main_font: 'Manrope';
$fallback_fonts: 'Arial', 'Helvetica CY', 'Nimbus Sans L';

// ui colors
$main_color: #161C23;
$section_background_color: #F5F5F5;

// buttons
$button_font_size: 20px;
$button_line_height: 28px;
$small_button_font_size: 18px;
$small_button_line_height: 30px;
$button_color: rgba(#054C63, 0.9);

// forms
$input_error: #F63A3A;

// devices
$desktop: 1920px;
$desktop_large: 1600px;
$desktop_medium: 1440px;
$tablet_wide: 1024px;
$tablet: 768px;
$phone: 500px;
$phone_small: 375px;
$phone_tiny: 320px;

// min values for mixin
$min_device_width: $phone_tiny;
$max_device_width: $desktop;


// headings
$h1_font_size--phone: 25px;
$h1_font_size--tablet: 35px;
$h1_font_size--tablet_wide: 40px;
$h1_font_size--desktop: 45px;

$h1_line_height--phone: 40px;
$h1_line_height--tablet: 50px;
$h1_line_height--tablet_wide: 55px;
$h1_line_height--desktop: 60px;

/* ------------------ */

$h2_font_size--phone: 25px;
$h2_font_size--tablet: 35px;
$h2_font_size--tablet_wide: 45px;
$h2_font_size--desktop: 45px;

$h2_line_height--phone: 37px;
$h2_line_height--tablet: 55px;
$h2_line_height--tablet_wide: 60px;
$h2_line_height--desktop: 60px;

/* ------------------ */

$h3_font_size--phone: 18px;
$h3_font_size--tablet: 18px;
$h3_font_size--tablet_wide: 20px;
$h3_font_size--desktop: 22px;

$h3_line_height--phone: 26px;
$h3_line_height--tablet: 26px;
$h3_line_height--tablet_wide: 30px;
$h3_line_height--desktop: 32px;

/* ------------------ */

$text_font_size_min: 16px;
$text_font_size_max: 20px;
$text_line_height_min: 30px;
$text_line_height_max: 37px;
