.button {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
    @include fluid-text($phone, $desktop, 16px, 20px, 20px, 24px);
    color: #FFFFFF;
    background-color: $button_color;
    border-radius: 3px;
    transition: background-color 200ms ease-in-out;
    padding: 20px 60px;

    &--medium {
        padding: 18px 50px;
    }

    &--small {
        padding: 12px 30px;
    }

    &--outlined {
        color: $button_color;
        border: 1px solid $button_color;
        background-color: transparent;        
    }

    &--centered {
        margin: 0 auto;
    }

    &:disabled {
        filter: grayscale(1)
    }

    &:hover,
    &:focus {
        // background-color: rgba($button_color, 0.8);
    }

    &:active {
        // background-color: rgba($button_color, 0.9);
    }

    @include max-width($tablet) {
        min-width: 330px;
    }

    @include max-width($phone) {
        min-width: unset;
        width: 100%;
    }
}
