.feedback_form {
    
    &__field {
        position: relative;
        width: 100%;
    }

    input {
        display: block;
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid $main_color;
        padding-bottom: 15px;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px rgba($section_background_color, 1) inset !important;
            box-shadow: 0 0 0 30px rgba($section_background_color, 1) inset !important;
        }
    }

    input:required {

        + label:before {
            content: '*';
            position: absolute;
            top: 0;
            right: -5px;
            width: 5px;
            height: 5px;
        }
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        transform: translateY(-40px);
        font-size: 12px;
        line-height: 24px;
        color: rgba($main_color, 0.6);
    }

    input.invalid {
        border-color: $input_error;

        + label {
            color: $input_error;
        }
    }

    label {
        display: block;
        position: absolute;
        bottom: 15px;
        left: 0;
        pointer-events: none;
        transition: all 150ms ease-in-out;
    }
}


// .iti {
//     width: 100%;

//     input {
//         padding-left: 30px !important;
//         padding-right: 0 !important;
//         margin-left: 0 !important;
//         margin-right: 0 !important;
//     }

//     &__flag-container {
//         cursor: pointer;
//         width: 25px !important;
//         height: 100% !important;
//         top: auto !important;
//         bottom: 0 !important;
//         border-radius: 3px;
//         background-color: transparent;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         z-index: 9; 
//     }

//     &__selected-flag {
//         width: 16px !important;
//         height: 16px !important;
//         background: #FFFFFF url('../img/icons/input_arrow.svg') no-repeat center / 50%;
//         transform: rotate(180deg);
//         padding: 0 !important;
//         transition: background-color 100ms ease-in-out;
//     }

//     &__flag,
//     &__arrow {
//         display: none !important;
//     }

//     &__country-list {
//         max-width: 220px !important;
//         max-height: 108px !important;
//     }

//     &__flag-box {
//         display: none !important;
//     }

//     &__country {
//         padding: 5px 30px 5px 15px !important;
//         line-height: 14px !important;
//         margin-bottom: 5px;
//         display: flex;
//         justify-content: space-between;
//     }

//     &__country-name,
//     &__dial-code {
//         font-size: 10px;
//         line-height: 14px;
//         font-weight: 100;
//     }

//     &__country-name {
//         white-space: normal !important;
//     }
// }
