.link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: $main_color;
        opacity: 0;
        transition: all 300ms ease-in-out;
    }

    &:hover:after,
    &:hover:after {
        opacity: 1;
        width: 100%;
    }

    &--go_to {
        color: $button_color;
        padding-right: 40px;

        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 16px / 2);
            right: 0;
            width: 24px;
            height: 16px;
            background: url('../img/icons/link_arrow.svg') no-repeat center / contain;
        }

        &:hover:before,
        &:focus:before {
            // animation: linkTranslate 250ms ease-in-out;
        }

        &:hover:after,
        &:hover:after {
            width: calc(100% - 40px);
        }
    }
}
