.list {

    &__item {
        position: relative;
    }

    &--type_dots {

        .list__item {
            padding-left: 42px;
        }

        .list__item:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $main_color;
        }

        .list__item--transparent:before {
            background-color: transparent;
            border: 1px solid $main_color;
        }
    }

    &--type_arrows {

        .list__item {
            padding-left: 30px;
        }

        .list__item:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 10px;
            height: 11px;
            background: url('../img/icons/list_arrow.svg') no-repeat center / contain;
        }
    }

    &--type_numbers {
        counter-reset: li;

        .list__item {
            counter-increment: li;
            position: relative;

            &:before {
                content: counter(li) '.';
            }
        }
    }

    &--type_big_numbers {
        counter-reset: li;

        .list__item {
            counter-increment: li;
            position: relative;

            &:before {
                content: '0' counter(li);
                position: absolute;
                top: 0;
                left: 0;
                font-size: 30px;
                line-height: 35px;
                font-weight: 100;
            }
        }
    }
}
