@import '../utils/mixins';
@import '../utils/vars';

.intro_section {

    .our_projects {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h1 {
            max-width: 300px;
            margin-bottom: 5.25vw;

            br {
                display: none;
            }
        }

        .profitability__item {
            @include fluid-text($phone, $desktop, 15px, 20px, 22px, 31px);
            margin-right: 10px;
            margin-bottom: 2.75vw;

            span {
                display: inline-block;
                @include fluid-text($tablet, $desktop, 35px, 65px, 55px, 75px);
                margin: 0 5px 5px 0;
            }

            br {
                display: none;
            }
        }

        &__pictures {
            height: 100vh;
            width: 50vw;
            flex-shrink: 0;
        }

        &__pictures picture {
            display: block;
            width: 100%;
            height: calc(100% / 3);

            &:not(:last-child) {
                padding-bottom: 7px;
            }
        }

        &__pictures img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include max-width($tablet_wide) {
        padding: 21vw 0 0;

        .our_projects {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: auto;

            &__pictures {
                height: auto;
                width: 100%;

                picture {
                    height: 377px;

                    &:last-child {
                        display: none;
                    }
                }
            }

            .h1 {
                max-width: 100%;
                margin-bottom: 8vw;

                br {
                    display: initial;
                }
            }

            &__text {
                width: 65%;
                margin-bottom: 8vw;
            }

            .profitability {
                display: flex;
                justify-content: space-between;
            }

            .profitability__item {
                @include fluid-text($tablet, $tablet_wide, 16px, 18px, 25px, 31px);
                margin-bottom: 0;
    
                span {
                    @include fluid-text($tablet, $tablet_wide, 40px, 60px, 55px, 75px);
                }
            }
        }
    }

    @include max-width($tablet) {
        .our_projects {

            &__pictures {

                picture {
                    height: 286px;
                }
            }

            .h1 {
                margin-bottom: 6vw;
            }
    
            &__text {
                margin: 0 50px 50px;
            }

            .profitability__item {
                @include fluid-text($phone, $tablet, 15px, 18px, 22px, 31px);
    
                span {
                    @include fluid-text($phone, $tablet, 32px, 45px, 42px, 55px);
                }
            }
        }
    }

    @include max-width($phone) {
        padding: 23vw 0 0;

        .our_projects {

            &__pictures {

                picture {
                    height: 224px;
                }
            }

            .h1 {
                margin-bottom: 10vw;

                br {
                    display: none;
                }
            }

            .profitability__item {

                br {
                    display: initial;
                }
            }

            &__text {
                width: 90%;
                margin: 0;
                padding: 0 25px 35px;

                p:first-child {
                    white-space: nowrap;
                }
            }
        }
    }
}

.our_economist {
    padding: 10.5vw 0 12.5vw;

    .flex_container {
        padding-right: 20px;

        &__item--picture {
            min-width: 400px;
            max-width: 100%;
            margin-right: 4.5vw;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }

        &__item--text {
            max-width: 700px;
        }

        &__item--text > *:not(:last-child) {
            margin-bottom: 15px;
        }

        h2 {  
            font-weight: 100;
        }

        p {
            @include fluid-text($tablet_wide, $desktop, 16px, 20px, 26px, 37px);
        }

        small {
            display: block;
            font-size: 16px;
            line-height: 26px;
            margin: 30px 0 !important;
        }

        .icons {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            &__item {
                position: relative;
                font-size: 20px;
                line-height: 37px;
                font-weight: 400;
                padding-left: 45px;
                margin-bottom: 20px;
                white-space: nowrap;
            }

            &__item svg {
                vertical-align: middle;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }
    }

    @include max-width($tablet_wide) {
        padding: 9.5vw 0 16vw;

        .flex_container {
            padding-right: 0;

            &__item--picture {
                margin-right: 0;
                width: 514px;
                height: 516px;
            }

            h2 {
                @include fluid-text($phone, $tablet_wide, 25px, 35px, 34px, 48px);
                margin-top: 30px;
            }

            p {
                @include fluid-text($phone, $tablet_wide, 16px, 20px, 30px, 37px);
            }
    
            &__item--text > *:not(:last-child) {
                margin-bottom: 15px;
            }

            .icons {
                flex-direction: row;

                &__item:not(:last-child) {
                    margin-right: 8vw;
                }
            }
        }
    }

    @include max-width($tablet) {
        padding: 6vw 0 11vw;

        .flex_container {

            &__item--picture {
                min-width: unset;
                width: 496px;
                height: 411px;
            }
        }
    }

    @include max-width(700px) {
        .flex_container {
            .icons {
                flex-direction: column;

                &__item:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }

    @include max-width($phone) {
        padding: 15vw 0 30vw;

        .flex_container {

            &__item--picture {
                width: 100%;
                height: 85vw;
            }

            .icons {

                &__item {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 30px;
                }

                &__item svg {
                    max-width: 30px;
                }
            }
        }
    }
}

.infrastructure {
    padding-bottom: 8vw;

    h2 {
        margin-bottom: 4vw;
    }

    @include max-width($tablet_wide) {
        padding-bottom: 50px;

        h2 {
            @include fluid-text($phone, $tablet_wide, 25px, 35px, 42px, 50px);
            max-width: 350px;
            margin-bottom: 5vw;
        }

        .formats_slider {

            .swiper-slide__picture {
                height: 36vw;
            }

            .swiper-slide__name {
                align-items: center;
            }

            .swiper-slide__title {
                font-size: 18px;
                line-height: 28px;
                flex: 0 0 fit-content;
            }

            .swiper-slide__line {
                display: none !important;
            }

            .swiper-slide__description {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    @include max-width($tablet) {
        h2 {
            max-width: 100%;
        }
    
        .formats_slider {

            .swiper-slide__picture {
                height: 48vw;
            }
            
            .swiper-slide__name {
                margin-left: 0;
                margin-right: 0;
            }

            .swiper-slide__description {
                max-width: 60%;
            }
        }
    }

    @include max-width($phone) {
        padding-bottom: 15vw;

        .wrapper {
            padding: 0;
        }

        h2 {
            margin: 0 25px 50px;
        }

        .formats_slider {

            .swiper-slide {
                margin-bottom: 30px;
            }

            .swiper-slide__picture {
                height: 62vw;
            }

            .swiper-slide__name {
                align-items: flex-start;
                margin: 15px 25px;
            }

            .swiper-slide__description {
                max-width: 100%;
            }
        }
    }
}
