@import '../utils/mixins';
@import '../utils/vars';

/* h2 common style */
.h2 {
    @include fluid-text($tablet_wide, $desktop, 30px, 40px, 45px, 55px);

    @include max-width($tablet_wide) {
        @include fluid-text($tablet, $tablet_wide, 30px, 40px, 45px, 55px);
    }

    @include max-width($tablet) {
        @include fluid-text($phone, $tablet, 25px, 30px, 38px, 45px);
    }
}

.intro_section {
    
    .intro_block {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__text {
            max-width: 400px;
            margin-right: 3.6vw;

            .h1 {
                margin-bottom: 2vw;
            }
        }
    
        &__image {
            // background: url('../../img/formats/weekend_hotel/intro.jpg') no-repeat 0 50% / cover;
            width: 58vw;
            height: 100%;
            flex-shrink: 0;
        }
    }

    @include max-width($tablet_wide) {        
        .intro_block {
            height: auto;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 20vw;

            &__text {
                margin-right: 0;
                margin-bottom: 6vw;

                .h1 {
                    margin-bottom: 40px;
                }
            }

            &__image {
                background-position: center;
                width: 100%;
                height: 885px;
            }
        }
    }

    @include max-width($tablet) {
        .intro_block {
            padding-top: 22vw;

            &__text {
                max-width: 500px;
                padding-left: 6vw;
            }

            &__image {
                // background-image: url('../../img/formats/weekend_hotel/intro--tablet.jpg');
                background-position: center;
                height: 600px;
            }
        }
    }

    @include max-width($phone) {
        .intro_block {
            padding-top: 32vw;

            &__text {
                margin-bottom: 12vw;

                .h1 {
                    margin-bottom: 25px;
                }
            }

            &__image {
                // background-image: url('../../img/formats/weekend_hotel/intro--phone.jpg');
                height: 466px;
            }
        }
    }
}

.infrastructure {
    padding: 6.5vw 0 15vw;

    .brings_income {
        display: flex;
        margin-top: 10px;

        svg {
            margin-right: 8px;
        }
    }

    .project_features {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5vw 2.5vw;
        margin-top: 5.2vw;

        &__item {
            position: relative;
            padding-left: 125px;

            .subheading {
                position: relative;
                display: inline-block;
                @include fluid-text($tablet_wide, $desktop, 18px, 20px, 26px, 28px);
                margin-bottom: 15px;
            }

            .subheading + .subheading {
                display: block;
                margin-top: -15px;

                &:before {
                    display: none;
                }
            }

            em {
                font-style: normal;
                font-weight: 300;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
            }

            p {
                @include fluid-text($tablet_wide, $desktop, 16px, 18px, 24px, 28px);
                margin-bottom: 10px;
            }

            p:not(:first-of-type) {
                @include fluid-text($tablet_wide, $desktop, 14px, 16px, 22px, 26px);
            }

            &--brings_income {

                .subheading {
                    padding-right: 50px;
                }
            
                .subheading:before {
                    content: '';
                    position: absolute;
                    top: -4px;
                    right: 0;
                    width: 34px;
                    height: 35px;
                    background: url('../../img/icons/income.svg') no-repeat center / contain;
                }
            }
        }
    }

    @include min-width(1921px) {
        padding: 120px 0 240px;
    }

    @include max-width($desktop_medium) {
        .project_features {
            width: 95%;

            &__item {
                padding-left: 110px;
            }

            svg {
                width: 80px;
                height: 80px;
            }
        }
    }

    @include max-width($tablet_wide) {
        padding: 12vw 0 15vw;

        .project_features {
            width: 100%;
            grid-template-columns: 1fr;
            grid-gap: 6vw;
        }
    }

    @include max-width($tablet) {
        padding: 8vw 0 16vw;

        .project_features {
            grid-gap: 9vw;
            margin-top: 10vw;

            &__item {
                padding-left: 100px;
    
                .subheading {
                    margin-bottom: 10px;
                }
    
                p {
                    @include fluid-text($phone, $tablet, 16px, 18px, 24px, 28px);
                }
            }
        }
    }

    @include max-width($phone) {
        padding: 14vw 0 18vw;

        .brings_income {
            svg {
                width: 30px;
                margin-right: 5px;
            }
        }

        .project_features {
            width: 100%;
            margin-top: 18vw;

            svg {
                width: 60px;
                height: 60px;
            }

            &__item {
                padding-left: 80px;
    
                .subheading {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
    
                p {
                    margin-left: -75px;

                    &:first-of-type {
                        margin-top: 20px;
                    }

                    &:not(:first-of-type) {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }

                &--brings_income .subheading {
                    padding-right: 45px;
                }

                &--brings_income .subheading:before {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.land_plot {
    padding-bottom: 7.5vw;

    .h2 {
        margin-bottom: 3.5vw;
    }

    .flex_container {
        padding-right: 30px;

        &__item--picture {
            width: 926px;
            max-width: 60%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__item--text {
            flex: 0 1 560px;
            margin-left: 3.5vw;
        }
    }

    ul {

        li {
            @include fluid-text($tablet_wide, $desktop, 14px, 20px, 26px, 37px);
            display: flex;
        }

        li:not(:last-child) {
            margin-bottom: 2vw;
        }

        li svg {
            flex-shrink: 0;
            margin-right: 30px;
        }
    }

    @include min-width(1921px) {
        padding-bottom: 140px;
    }

    @include max-width($desktop_medium) {
        svg {
            width: 30px;
        }
    }

    @include max-width($tablet_wide) {
        padding-bottom: 9vw;

        .wrapper {
            padding-right: 0;
        }

        .h2 {
            margin-bottom: 6vw;
        }

        .flex_container {
            flex-direction: column-reverse;
            padding-right: 0;

            &__item--picture {
                width: 100%;
                max-width: 100%;
                height: 600px;
            }
    
            &__item--text {
                width: 65%;
                margin-left: 0;
                margin-bottom: 4vw;
            }
        }

        ul li {
            @include fluid-text($tablet, $tablet_wide, 18px, 20px, 30px, 37px);
        }

        ul li:not(:last-child) {
            margin-bottom: 4vw;
        }
    }

    @include max-width($tablet) {
        padding-bottom: 7.5vw;

        .wrapper {
            padding: 0;
        }

        .h2,
        .flex_container__item--text {
            padding: 0 6.5vw;
        }

        .flex_container {

            &__item--picture {
                height: 446px;
            }
    
            &__item--text {
                flex: auto;
                width: 100%;
                margin-bottom: 9vw;
            }
        }

        ul li {
            @include fluid-text($phone, $tablet, 16px, 18px, 28px, 30px);
        }
    }

    @include max-width($phone) {
        padding-bottom: 50px;
        
        .h2 {
            margin-bottom: 40px;
        }

        .flex_container {

            &__item--picture {
                height: 327px;
            }
    
            &__item--text {
                margin-bottom: 40px;
            }
        }

        ul {

            li:not(:last-child) {
                margin-bottom: 30px;
            }

            li svg {
                margin-right: 20px;
            }
        } 
    }
}

.investment,
.efficiency {

    &:before {
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        width: 25%;
        height: 100%;
        background: url('../../img/patterns/formats_page_alt.png') no-repeat right top / auto;
    }

    .h2 {
        margin-bottom: 5vw;
    }

    ul {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5vw;

        li {
            @include fluid-text($tablet_wide, $desktop, 14px, 20px, 22px, 31px);

            &.vertical_align {
                margin: auto 0;
            }
        }

        span {
            display: inline-block;
            @include fluid-text($tablet_wide, $desktop, 12px, 16px, 22px, 24px);
            letter-spacing: 0.02em;
        }

        p + span {
            margin-top: 12px;
        }

        .number {
            @include fluid-text($tablet_wide, $desktop, 40px, 65px, 50px, 75px);
            margin-bottom: 5px;
        }
    }

    sup {
        font-size: 12px;
    }

    small {
        display: inline-block;
        @include fluid-text($tablet_wide, $desktop, 14px, 16px, 22px, 24px);
        letter-spacing: 0.02em;
        width: 50%;

        sup {
            margin-left: -8px;
        }
    }

    small.mobile {
        display: none;
    }

    @include min-width(1921px) {
        .h2 {
            margin-bottom: 90px;
        }
    
        ul {
            grid-gap: 100px;
        }
    }

    @include max-width($desktop) {
        .h2 {
            margin-bottom: 4vw;
        }

        ul {
            grid-gap: 3.5vw;
        }
    }

    @include max-width($desktop_medium) {
        &:before {
            background-position: right -250px top;
        }
    }

    @include max-width($tablet_wide) {
        &:before {
            display: none;
        }

        .h2 {
            margin-bottom: 9vw;
        }

        ul {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 8vw 4vw;
    
            li {
                @include fluid-text($tablet, $tablet_wide, 16px, 20px, 24px, 31px);

                &.vertical_align {
                    margin: auto 0 0;
                }

                &:first-child {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 3;
                }
                &:nth-child(3) {
                    order: 5;
                }
                &:nth-child(4) {
                    order: 2;
                }
                &:nth-child(5) {
                    order: 4;
                }
                &:last-child {
                    order: 6;
                }
            }
    
            span {
                @include fluid-text($tablet, $tablet_wide, 14px, 16px, 22px, 24px);
            }

            p:last-child {
                max-width: 75%;
            }
    
            .number {
                @include fluid-text($tablet, $tablet_wide, 40px, 65px, 50px, 75px);
            }
        }

        small {
            @include fluid-text($phone, $tablet_wide, 15px, 16px, 22px, 24px);
            width: 100%;
        }
    }

    @include max-width($tablet) {
        .h2 {
            margin-bottom: 8vw;
        }

        ul {
    
            li {
                @include fluid-text($phone, $tablet, 18px, 20px, 28px, 30px);
            }
    
            span {
                @include fluid-text($phone, $tablet, 14px, 16px, 22px, 26px);
            }

            p + span {
                margin-top: 6px;
            }

            .number {
                @include fluid-text($phone, $tablet, 50px, 60px, 58px, 70px);
            }
        }
    }

    @include max-width($phone) {
        .h2 {
            margin-bottom: 40px;
        }

        ul {
            grid-template-columns: 1fr;
            grid-gap: 10vw;
        }

        small.desktop {
            display: none;
        }

        small.mobile {
            display: inline-block;
        }
    }
}

.investment {
    padding-bottom: 6.2vw;

    small {
        margin: 7.5vw 0 4.2vw;
    }

    .investment_pictures {
        display: flex;
        margin-left: -70px;

        picture {
            height: 28vw;
            max-height: 533px;

            &:first-child {
                flex: 0 1 70%;
                margin-right: 8px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include min-width(1921px) {
        padding-bottom: 120px;

        small {
            margin: 140px 0 80px;
        }
    }

    @include max-width($desktop_medium) {
        small {
            margin: 4vw 0;
        }
    }

    @include max-width($tablet_wide) {
        .wrapper {
            padding: 0;
        }

        .h2,
        ul,
        small {
            padding-left: 17.5vw;
        }

        ul {
            margin-bottom: 9vw;
        }

        .investment_pictures {
            display: block;
            margin-left: 0;
    
            picture {
                height: auto;
                margin-right: 0;
            }

            picture:last-child {
                display: none;
            }
        }

        small {
            margin: 0 0 6vw;
        }
    }

    @include max-width($tablet) {
        .h2,
        ul,
        small {
            padding: 0 6.5vw;
        }
    }

    @include max-width($phone) {
        ul {
            margin-bottom: 14vw;
        }

        small {
            margin: 0 0 10vw;
        }
    }
}

.efficiency {
    padding-bottom: 8vw;

    small {
        margin: 7vw 0 0;
    }

    @include min-width(1921px) {
        padding-bottom: 100px;

        small {
            margin: 150px 0 50px;
        }
    }

    @include max-width($desktop_medium) {
        small {
            margin: 4vw 0 0;
        }
    }

    @include max-width($tablet_wide) {
        padding-bottom: 0;

        small {
            margin: 12vw 0 9vw;
        }
    }

    @include max-width($tablet) {
        small {
            margin: 14vw 0 9vw;
        }
    }

    @include max-width($phone) {
        small {
            margin: 14vw 0;
        }
    }
}

.profitability {
    
    .inner_wrapper {
        background-color: #FFFFFF;
        justify-content: space-between;
        padding: 5vw 7vw 5vw 5vw;
        margin-left: -70px;

        h2 {
            @include fluid-text($tablet_wide, $desktop, 23px, 33px, 44px, 54px);
        }

        h2 + p {
            @include fluid-text($tablet_wide, $desktop, 18px, 20px, 26px, 28px);
        }

        .desktop_table {
            border-collapse: collapse;
            margin: 5vw 0;

            thead th {
                white-space: nowrap;
                @include fluid-text($tablet_wide, $desktop, 15px, 20px, 22px, 27px);
                font-weight: 300;
                padding: 0 1.3vw 1.3vw;

                &:last-child {
                    font-weight: 600;
                }
            }
            
            thead tr {
                border-bottom: 0.5px solid rgba(#000000, 0.7);
            }

            tbody td {
                padding: 1.2vw;

                &:not(:first-child) {
                    @include fluid-text($tablet_wide, $desktop, 16px, 25px, 18px, 25px);
                    text-align: center;
                }

                &:first-child {
                    @include fluid-text($tablet_wide, $desktop, 15px, 20px, 22px, 27px);
                    padding: 1.2vw 1.2vw 1.2vw 0;
                }

                &:last-child {
                    font-weight: 600;
                }
            }
        }

        .mobile_table {
            display: none;
        }
        
        .conditions {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.02em;
            margin-bottom: 5vw;

            .list__item {
                padding-left: 20px;
            }

            .list__item:before {
                width: 8px;
                height: 9px;
            }
        }

        .download_pdf {
            color: #0B7495;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;

            svg {
                margin-right: 15px;
            }
        }

        img {
            margin-top: 6.5vw;
        }

        .flex_container__item:first-child {
            flex-shrink: 1;
        }

        .flex_container__item:last-child {
            flex: 1 1 646px;
            margin-left: 7vw;
        }
    }

    @include min-width(1921px) {
        .inner_wrapper {
            padding: 100px;

            .desktop_table {
    
                thead th {
                    padding: 0 25px 25px;
                }
                
                tbody td {
                    padding: 25px;
    
                    &:first-child {
                        padding: 25px;
                    }
                }
            }

            .flex_container__item:last-child {
                margin-left: 100px;
            }
        }
    }

    @include max-width($desktop_medium) {
        .inner_wrapper {
            padding: 4vw;

            .flex_container__item:last-child {
                margin-left: 4vw;
            }

            .desktop_table {

                tbody td {
                    padding: 0.8vw;

                    &:first-child {
                        padding: 0.8vw 0.8vw 0.8vw 0;
                    }
                }
            }
        }
    }

    @include max-width($tablet_wide) {
        .wrapper {
            padding: 0;
        }

        .inner_wrapper {
            margin-left: 0;
            padding: 9vw 17.5vw;

            h2 {
                @include fluid-text($tablet, $tablet_wide, 23px, 33px, 44px, 54px);
            }
    
            h2 + p {
                @include fluid-text($tablet, $tablet_wide, 18px, 20px, 26px, 28px);
            }
    
            .desktop_table {
                width: 100%;
                margin: 9vw 0 0;

                thead th {
                    @include fluid-text($tablet, $tablet_wide, 15px, 20px, 22px, 27px);
                    padding: 0 2vw 2vw;
                }

                tbody td {
                    padding: 2.5vw;
    
                    &:not(:first-child) {
                        @include fluid-text($tablet, $tablet_wide, 16px, 25px, 18px, 25px);
                    }
    
                    &:first-child {
                        @include fluid-text($tablet, $tablet_wide, 15px, 20px, 22px, 27px);
                        padding: 2.5vw 2.5vw 2.5vw 0;
                    }
                }
            }

            .conditions {
                margin: 9vw 0;
            }
    
            .download_pdf {
                display: none;
            }

            img {
                margin-top: 5vw;
            }
    
            .flex_container__item:last-child {
                flex: initial;
                margin-left: 0;
            }
        }
    }

    @include max-width($tablet) {
        .inner_wrapper {
            padding: 9vw 6.5vw;

            h2 {
                @include fluid-text($phone, $tablet, 25px, 30px, 42px, 55px);
            }
    
            h2 + p {
                @include fluid-text($phone, $tablet, 18px, 20px, 26px, 28px);
            }
    
            .desktop_table {
                margin: 8vw 0 11vw;

                thead th {
                    @include fluid-text($phone, $tablet, 15px, 20px, 22px, 27px);
                }

                tbody td {
                    &:not(:first-child) {
                        @include fluid-text($phone, $tablet, 16px, 25px, 18px, 25px);
                    }
    
                    &:first-child {
                        @include fluid-text($phone, $tablet, 15px, 20px, 22px, 27px);
                    }
                }
            }

            img {
                margin-top: 6vw;
            }
        }
    }

    @include max-width($phone) {
        .inner_wrapper {
            padding: 9vw 6.5vw;

            .flex_container__item:first-child {
                h2 {
                    max-width: 85%;
                }
            }

            .desktop_table {
                display: none;
            }
    
            .mobile_table {
                display: table;
                width: 100%;
                border-collapse: collapse;
                margin: 10vw 0;

                tbody:before {
                    content: "0";
                    display: block;
                    line-height: 15px;
                    text-indent:-99px;
                }
    
                thead th {
                    font-weight: 300;
                    padding: 15px 8px;
                }
                
                thead tr {
                    border-bottom: 0.5px solid rgba(#000000, 0.7);
                }

                tbody tr:last-child {

                    td {
                        vertical-align: bottom;
                        font-weight: 600;
                        padding-bottom: 0;
                    }
                }
    
                tbody td {
    
                    &:not(:first-child) {
                        text-align: center;
                        font-size: 18px;
                        line-height: 18px;
                        padding: 25px 0;
                    }
    
                    &:first-child {
                        border-right: 0.5px solid rgba(#000000, 0.7);
                        font-size: 16px;
                        line-height: 16px;
                        padding-right: 10px;
                    }
                }
            }

            .conditions {
                font-size: 15px;
                line-height: 22px;
                margin: 14vw 0;
            }

            img {
                margin-top: 40px;
            }
        }
    }
}

.other_formats {
    padding: 6vw 0;
    
    .h2 {
        margin-bottom: 3vw;
    }

    .swiper-slide__link {
        display: block;
    }

    @include max-width($tablet_wide) {
        padding: 10vw 0 5vw;

        .wrapper {
            padding-right: 0;
        }

        .formats_slider {
            padding-bottom: 100px !important;
        }

        .swiper-wrapper {
            flex-direction: row;
        }

        .swiper-slide {
            transition: width 500ms ease-in-out;
            width: calc(100% / 3 - 4px) !important;
            margin-bottom: 0;

            &__picture {
                cursor: pointer !important;
                height: 60vw;
            }

            &__name {
                position: absolute;
            }

            &__title {
                @include fluid-text($tablet, $tablet_wide, 14px, 18px, 22px, 28px);
                font-weight: 500;

            }
    
            &__line {
                display: none;
            }
    
            &__description {
                display: none;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
            top: calc(50% - (48px / 2) - (100px / 2)) !important;
        }
    }

    @include max-width($tablet) {
        .swiper-slide__name {
            margin: 10px 0 0;
        }
    }

    @include max-width($phone) {
        padding: 10vw 0;

        .wrapper {
            padding: 0;
        }

        .h2 {
            margin-left: 25px;
        }

        .formats_slider {
            padding-bottom: 0 !important;
        }

        .swiper-wrapper {
            flex-direction: column;
        }

        .swiper-slide {
            background-color: $section_background_color !important;
            transition: none !important;
            width: 100% !important;
            margin-bottom: 15px;

            &:nth-child(n + 4) {
                display: none;
            }

            &__picture {
                height: 50vw;
            }

            &__name {
                position: initial;
                margin: 8px 25px 0;

                br {
                    display: none;
                }
            }

            &__title {
                font-size: 15px;
                line-height: 22px;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none !important;
        }
    }
}
