@import '../utils/mixins';
@import '../utils/vars';

.intro_section {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background: $section_background_color url('../../img/main_page/intro.jpg') no-repeat center / cover;
    
    @include set-2x-image {
        background-image: url('../../img/main_page/intro@2x.jpg');
    }

    .intro_content {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .h1 {
            margin-left: 13.6vw;
        }
    }

    // @include max-width($tablet_wide) {
    //     background-image: url('../../img/main_page/intro_tablet_wide.jpg');
    //     min-height: 1368px;

    //     @include set-2x-image {
    //         background-image: url('../../img/main_page/intro_tablet_wide@2x.jpg');
    //     }

    //     &_content {
    //         // margin-left: 15vw;
    //     }
    // }

    // @include max-width($tablet) {
    //     background-image: url('../../img/main_page/intro_tablet.jpg');
    //     min-height: 1024px;
    // }

    // @include max-width($phone) {
    //     background-image: url('../../img/main_page/intro_mobile.jpg');
    //     background-position: center;
    //     min-height: 812px;
        
    //     &_content {
    //         margin-left: 12vw;
    //     }
    // }
}

.all_season_hotel {
    padding: 150px 0;

    .emphasis_text {
        text-transform: none;
    }

    .flex_container__item:first-child {
        width: 25%;
        margin-right: 8vw;
    }

    .flex_container__item:last-child {
        width: 1092px;
        // max-width: 50%;
    }

    .emphasis_text {
        margin-bottom: 60px;
    }

    .list {

        &__item:not(:last-of-type) {
            margin-bottom: 50px;
        }

        .subheading {
            margin-bottom: 12px;
        }
    }
}

.hi_tech_modules {
    padding: 100px 0;

    h2 {
        display: flex;
        align-items: center;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 100px;
    }

    h2 > span:first-child {
        font-size: 120px;
        line-height: 120px;
        font-weight: 100;
        margin-right: 35px;
    }

    .modules_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 100px;

        &__item {
            font-size: 18px;
            line-height: 37px;
            letter-spacing: 0.02em;

            .h3 {
                margin-bottom: 20px;
            }

            li {
                text-transform: uppercase;
            }

            li:not(:last-child) {
                margin-bottom: 5px;
            }

            li.is_disabled {
                opacity: 0.4;
            }
        }
    }
}

.new_generation_options {

    .options_header {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background: url('../../img/main_page/new_gen_options.jpg') no-repeat center / cover;
        min-height: 100vh;
        // max-width: 1920px;
        // margin: 0 auto;

        @include set-2x-image {
            background-image: url('../../img/main_page/new_gen_options@2x.jpg');
        }

        h2 {
            color: #FFFFFF;
            font-size: 51px;
            line-height: 65px;
            margin-right: 160px;
            margin-bottom: 125px;
        }
    }

    .options_content {
        padding: 270px 0 315px;
    }

    .options_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;

        &__item {

            .subheading {
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

.formats_of_complexes {

    .h2 {
        @include fluid-text($min_device_width, $max_device_width, $h1_font_size_min, $h1_font_size_max, $h1_line_height_min, $h1_line_height_max);
        margin-bottom: 90px;
    }
}

.payback_calculation {
    padding: 290px 0;

    .emphasis_text {
        text-transform: none;
        margin-bottom: 140px;
        max-width: 1200px;
    }

    .calculation_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        max-width: 1200px;
        margin-bottom: 120px;

        &__item {
            font-size: 33px;
            line-height: 50px;
            font-weight: 100;
            opacity: 0.8;
        }

        &__item span {
            font-size: 70px;
        }
    }
}

.iterium_tech_news {

    .h2 {
        @include fluid-text($min_device_width, $max_device_width, $h1_font_size_min, $h1_font_size_max, $h1_line_height_min, $h1_line_height_max);
    }

    .wrapper > .h2 {
        margin-bottom: 60px;
        display: none;
    }
    
    .wrapper > .button {
        margin: 50px auto 0;
        display: none;
    }

    @include max-width($desktop_medium) {
        padding: 0 0 100px 180px;
    }

    @include max-width($tablet_wide) {

        .wrapper > .h2 {
            display: block;
        }
    }

    @include max-width($tablet) {
        padding: 0 0 125px;

        .wrapper > .h2 {
            margin-left: 25px;
            margin-bottom: 35px;
        }
    }

    @include max-width($phone) {
        padding: 0 0 60px;

        .wrapper > .button {
            display: block;
        }
    }
}

.feedback {
    padding: 240px 0 150px;

    .emphasis_text {
        text-transform: none;
        margin-bottom: 100px;
    }

    .form__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 80px;

        .form__field {
            width: calc(50% - 35px);
        }

        .form__field:not(:last-child) {
            margin-bottom: 70px;
        }
    }
}
