@import '../utils/mixins';
@import '../utils/vars';

.camping_infrastructure {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background: url('../../img/main_page/intro.jpg') no-repeat center / cover;
    
    @include set-2x-image {
        background-image: url('../../img/main_page/intro@2x.jpg');
    }

    .intro_content {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include max-width($tablet_wide) {
        background-image: url('../../img/main_page/intro--tablet_wide.jpg');
        min-height: 1368px;

        .intro_content {    
            justify-content: flex-start;
        }

        .intro_content .h1 {
            margin-top: 20.5vw;
        }
    }

    @include max-width($tablet) {
        background-image: url('../../img/main_page/intro--tablet.jpg');
        min-height: 1024px;

        .intro_content .h1 {
            margin-top: 22.5vw;
        }
    }

    @include max-width($phone) {
        background-position: 100% center;
        min-height: 812px;

        .intro_content .h1 {
            margin-top: 30vw;
        }
    }
}

.all_season_hotel {
    padding: 7.8vw 0;

    .flex_container__item {

        &--text {
            flex-grow: 0;
            flex-shrink: 1;
            max-width: 507px;
        }

        &--text .emphasis_text {
            margin-bottom: 3.2vw;
        }

        &--text .features_list {

            &__item:not(:last-of-type) {
                margin-bottom: 2.6vw;
            }
    
            .subheading {
                margin-bottom: 10px;
            }
        }

        &--picture {
            width: 1092px;
            max-width: 70%;
            margin-left: 4vw;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include min-width(1921px) {
        padding: 150px 0;
    }

    @include max-width($desktop_medium) {
        .flex_container__item--picture {
            max-width: 60%;
            height: 45vw;
        }
    }

    @include max-width($tablet_wide) {
        .wrapper {
            padding-right: 0;
        }

        .flex_container__item--text .emphasis_text {
            margin-bottom: 55px;
        }

        .flex_container__item--text .features_list {

            &__item:not(:last-of-type) {
                margin-bottom: 35px;
            }

        }

        .flex_container__item--picture {
            max-width: 100%;
            height: 62vw;
            margin: 50px 0 0;
        }
    }

    @include max-width($tablet) {
        padding: 10vw 0 0;

        .wrapper {
            padding: 0;
        }

        .flex_container__item--text {
            padding-left: 6.5vw;
        }
        
        .flex_container__item--picture {
            width: 100vw;
            height: 58.5vw;
        }
    }

    @include max-width($phone) {
        padding: 12vw 0 0;

        .flex_container__item--text {
            padding-left: 5vw;
            padding-right: 5vw;
        }

        .flex_container__item--text .emphasis_text {
            margin-bottom: 45px;
        }

        .flex_container__item--picture {
            height: 425px;
            margin: 40px 0 0;
        }
    }
}

.hi_tech_modules {
    padding: 4.5vw 0;

    h2 {
        @include fluid-text($tablet_wide, $desktop, 24px, 40px, 34px, 55px);
        display: flex;
        align-items: center;
        margin-bottom: 5vw;
    }

    h2 > span:first-child {
        @include fluid-text($tablet_wide, $desktop, 70px, 120px, 70px, 120px);
        font-weight: 100;
        margin-right: 1.8vw;
    }

    .modules_list {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5vw 2vw;

        &__item {
            letter-spacing: 0.02em;
            text-transform: uppercase;

            .h3 {
                @include fluid-text($tablet_wide, $desktop, 15px, 22px, 22px, 32px);
                margin-bottom: 20px;
            }

            li {
                @include fluid-text($tablet_wide, $desktop, 14px, 18px, 34px, 37px);
            }

            li:not(:last-child) {
                margin-bottom: 5px;
            }

            li.is_disabled {
                opacity: 0.4;
            }
        }
    }

    .button {
        margin-top: 50px;
        display: none;
    }

    @include max-width($desktop_medium) {
        padding: 3.5vw 0;

        h2 {
            margin-bottom: 3vw;
        }

        .modules_list {
            grid-gap: 2vw;
        }
    }

    @include max-width($tablet_wide) {
        padding: 8vw 0;

        h2 {
            @include fluid-text($phone, $tablet_wide, 25px, 30px, 35px, 40px);
            margin-bottom: 12vw;
        }
    
        h2 > span:first-child {
            @include fluid-text($phone, $tablet_wide, 72px, 90px, 82px, 100px);
            margin-right: 20px;
        }

        .modules_list {
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10vw 5vw;
        }

        .modules_list__item .h3 {
            @include fluid-text($tablet, $tablet_wide, 16px, 20px, 26px, 30px);
        }

        .modules_list__item li {
            @include fluid-text($tablet, $tablet_wide, 16px, 18px, 34px, 37px);
        }

        .modules_list__item:last-child {
            display: none !important;
        }
    }

    @include max-width($tablet) {
        background-color: #FFFFFF;
        padding: 13vw 0;

        .modules_list {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10.5vw;
            margin: 0 auto;
        }
    }

    @include max-width($phone) {
        background-color: #F5F5F5;

        h2 {
            justify-content: center;
        }

        .modules_list {
            grid-template-columns: 1fr;
            grid-gap: 20vw;
            width: 50%;
        }

        .modules_list__item:nth-child(n + 4) {
            display: none;
        }

        .button {
            display: block;
        }
    }
}

.new_generation_options {

    .options {

        &_header {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background: url('../../img/main_page/new_gen_options.jpg') no-repeat center / cover;
            min-height: 100vh;
    
            @include set-2x-image {
                background-image: url('../../img/main_page/new_gen_options@2x.jpg');
            }
    
            h2 {
                @include fluid-text($tablet_wide, $desktop, 32px, 51px, 46px, 65px);
                color: #FFFFFF;
                margin-right: 8.4vw;
                margin-bottom: 6.5vw;
            }
        }

        &_content  {
            padding: 14vw 0 16.5vw;
        }

        &_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5.2vw;
            max-width: 90%;

            &--tablet_wide {
                display: none;
            }

            &__item .subheading {
                margin-bottom: 1vw;
            }

            &__item p {
                @include fluid-text($tablet_wide, $desktop, 15px, 16px, 25px, 26px);
            }
        }
    }

    @include min-width(1921px) {
        .options_content {
            padding: 250px 0;
        }
    }

    @include max-width($desktop_medium) {
        .options {

            &_header {

                h2 {
                    margin-right: 7.4vw;
                    margin-bottom: 5.5vw;
                }
            }

            &_list {

                &__item .subheading {
                    max-width: 220px;
                }
            }
        } 
    }

    @include max-width($tablet_wide) {
        .options {

            &_header {
                background-image: url('../../img/main_page/new_gen_options--tablet_wide.jpg');
                background-position: bottom center;

                h2 {
                    @include fluid-text($phone, $tablet_wide, 25px, 45px, 37px, 60px);
                    margin-right: 14.5vw;
                    margin-bottom: 11vw;
                }
            }

            &_content {
                padding: 15vw 0;
            }

            &_list {
                grid-template-columns: repeat(2, 1fr);
                max-width: 100%;

                &--desktop {
                    display: none;
                }

                &--tablet_wide {
                    display: grid;
                }

                &__item {
                    position: relative;
                    padding-left: 95px;
                }

                &__item svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &__item .subheading {
                    max-width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include max-width($tablet) {
        .options {

            &_list {
                grid-template-columns: 1fr;
                grid-gap: 50px;
            }
        }
    }

    @include max-width($phone) {
        .options {

            &_header {
                background-image: url('../../img/main_page/new_gen_options--phone.jpg');
                justify-content: flex-start;

                h2 {
                    margin-right: 0;
                    margin-left: 7vw;
                    margin-bottom: 20vw;
                }
            }
            
            &_list__item {
                padding-left: 75px;

                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}

.formats_of_complexes {

    .h2 {
        @include fluid-text($tablet_wide, $desktop, 30px, 45px, 45px, 60px);
        margin-bottom: 4.7vw;
    }

    .button {
        display: none;
    }

    @include max-width($tablet_wide) {
        .h2 {
            @include fluid-text($phone, $tablet_wide, 25px, 35px, 42px, 50px);
        }

        .button {
            display: flex;
        }

        .swiper-slide:nth-child(n + 6) {
            display: none;
        }
    }

    @include max-width($tablet) {
        .wrapper {
            padding: 0;
        }

        .h2 {
            margin-left: 14.5vw;
        }

        .button {
            margin-left: 6.5vw;
        }
    }

    @include max-width($phone) {
        .h2 {
            margin-left: 25px;
        }

        .button {
            width: calc(100% - 40px);
            margin: 40px 20px 0;
        }
    }
}

.payback_calculation {
    padding: 13vw 0 15vw;

    .emphasis_text,
    .calculation_list {
        max-width: 1200px;
    }

    .emphasis_text {
        margin-bottom: 7vw;
    }

    .calculation_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5vw 2.5vw;
        margin-bottom: 6.2vw;

        &__item {
            @include fluid-text($tablet_wide, $desktop, 18px, 33px, 28px, 50px);
            font-weight: 100;
            opacity: 0.8;
        }

        &__item p:first-child {
            margin-bottom: 10px;
        }

        &__item span {
            @include fluid-text($tablet_wide, $desktop, 40px, 70px, 40px, 50px);
            font-weight: 300;
        }
    }

    @include min-width(1921px) {
        padding: 250px 0;
    }

    @include max-width($tablet_wide) {
        padding: 18vw 0;
        
        .emphasis_text {
            @include fluid-text($phone, $tablet_wide, 22px, 30px, 32px, 45px);
            margin-bottom: 10vw;
        }

        .calculation_list {
            grid-gap: 12vw;
            margin-bottom: 10vw;

            &__item {
                @include fluid-text($phone, $tablet_wide, 22px, 28px, 32px, 38px);
            }
    
            &__item span {
                @include fluid-text($phone, $tablet_wide, 45px, 60px, 50px, 50px);
            }
        }
    }

    @include max-width($tablet) {
        padding: 14vw 0;
    }

    @include max-width($phone) {
        padding: 22vw 0;

        .emphasis_text {
            margin-bottom: 11vw;
        }

        .calculation_list {
            grid-template-columns: 1fr;
            margin-bottom: 13vw;
        }
    }
}

.iterium_tech_news {

    .wrapper > .h2 {
        display: none;
    }
    
    .wrapper > .button {
        display: none;
    }

    @include max-width($tablet_wide) {
        .wrapper {
            padding-right: 0;
        }

        .wrapper > .h2 {
            @include fluid-text($phone, $tablet_wide, 28px, 35px, 42px, 60px);
            margin-bottom: 5vw;
            display: block;
        }
    }

    @include max-width($tablet) {
        .wrapper {
            padding: 0;
        }

        .wrapper > .h2 {
            margin-left: 6.5vw;
        }
    }

    @include max-width($phone) {
        .wrapper > .button {
            display: flex;
            width: calc(100% - 40px);
            margin: 50px auto 0;
        }
    }
}

.feedback {
    padding: 12.5vw 0 8vw;

    .emphasis_text {
        margin-bottom: 5vw;
    }

    &_form {
        width: 90%;

        &__items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 5vw;
        }

        &__field {
            @include fluid-text($tablet, $desktop, 16px, 20px, 34px, 37px);
            width: calc(50% - 35px);
        }

        &__field:not(:last-child) {
            margin-bottom: 70px;
        }
    }

    @include min-width(1921px) {
        padding: 250px 0 150px;
    }

    @include max-width($tablet_wide) {
        padding: 15vw 0 10vw;

        .emphasis_text {
            @include fluid-text($phone, $tablet_wide, 22px, 30px, 32px, 45px);
            margin-bottom: 6vw;
        }

        &_form {
            width: 70%;

            &__items {
                flex-direction: column;
            }

            &__field {
                width: 100%;
            }
        }
    }

    @include max-width($tablet) {
        padding: 14vw 0;

        .emphasis_text {
            margin-bottom: 80px;
        }

        &_form {

            &__items {
                margin-bottom: 80px;
            }
        }
    }

    @include max-width($phone) {
        .emphasis_text {
            margin-bottom: 70px;
        }

        &_form {
            width: 100%;

            &__items {
                margin-bottom: 70px;
            }
        }
    }
}
